<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/home-light.css?=1.0' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div class="input_area">
      <input type="text" id="search_txt" placeholder="Search for title, author, ISBN, publisher, md5..">
      <button type="submit" id="search_sub">一键搜索</button>
    </div>
    <script charset="utf-8" src="/javascripts/home-light.js?=1.0"></script>
  </body>
</html>
