:root {
  --tab-pad:0.5rem;
  --tab-height:5vh;
}
* {
  outline: none;
}
html {
  font-size: 1.08vw;
}
body {
  margin: 0;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.input_area {
  position: fixed;
  top: 45vh;
  left: 25vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.input_area button {
  border:none;
  border-radius: 0.5rem;
  background-color: rgb(75, 76, 78);
  color: aliceblue;
  font-size:150%;
  letter-spacing:0.2rem;
  width: 8rem;
  height:3.5rem;
}

.input_area button:hover{
  background: black;
  cursor: pointer;
}

.input_area input {
  width:30vw;
  height:3rem;
  font-size:120%;
  line-height: 1.5rem;
  margin-right: 1rem;
  text-indent:0.5vw;
}

/* Style the tab */
.tab {
  padding: var(--tab-pad);
  margin: 0;
  list-style-type: none;
  overflow: hidden;
  height: var(--tab-height);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 1rem 0.5rem rgb(0 0 0 / 20%) inset;
}

ul.tab li {
  float: left;
}
/* Style the buttons that are used to open the tab content */
.tab button {
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  border: black;
  border-radius: 0.5rem;
  background: #eee;
  margin-right: 0.2rem;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
  font-size: xx-large;
}

/* Style the tab content */
.tabcontent {
  display: none;
  border: none;
}

iframe {
  width: 100%;
  height: calc(100vh - var(--tab-pad) - 2 * var(--tab-height));
  border: none;
}
.info {
  margin-left: 4.5rem;
  margin-top: 2rem;
}
.info h1{
  margin: 0 auto;
}
.info p{
  margin-top: 0.2rem;
  margin-bottom: 0;
  color: lightgray;
}
.result{
  display: none;
}
.eye {
  width: 7vw;
  height: 7vw;
  border-radius: 3rem;
  box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
}
.to-hide {
  max-width: 40rem;
  overflow: hidden;
  margin:0;
  padding: 1rem;
  transition: 0.3s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
#search_txt, #search_sub {
  box-shadow: 1px 5px 0.1rem 0.1rem rgb(0 0 0 / 20%), 1px 5px 0.1rem 0.1rem rgb(0 0 0 / 19%) !important;
}