* {
  outline: none;
}
html,body {
  margin: 0 auto;
  padding: 0 auto;
}
.input_area {
  margin: 1rem;
  text-align: center;
}
.input_area > button {
  border:1px solid rgb(196, 187, 187);
  border-radius: 0.5rem;
  background-color: rgb(26, 116, 233);
  color: aliceblue;
  font-size:150%;
  letter-spacing:0.2rem;
  width: 8rem;
  height:3.5rem;
}

.input_area > button:hover{
  background: darkblue;
  cursor: pointer;
}

.input_area > input {
  width:30%;
  height:3rem;
  font-size:120%;
  line-height: 1.5rem;
  margin-right: 1rem;
}
#result {
  margin-top: 1rem;
  padding-top: 1rem;
  width:auto;
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
#result > div {
  overflow: scroll;
  border:2px solid black;
  border-radius: 0.4rem;
  width: 40%;
  margin: 1rem;
  height: 30rem;
}
#libgen {
  order:1;
}
#zlib {
  order:2;
}
#archive {
  order:3;
}
#worldcat {
  order:4;
}
#hathi {
  order:5;
}
#google {
  order:6;
}
.title{
  width: 6rem;
  text-align: center;
  background-color: thistle;
}